Authlib
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
cloudinary
colorama
cryptography
dnspython
easyocr
google-cloud-vision
thefuzz
python-Levenshtein
et_xmlfile
filelock
Flask
feedparser
Flask-Login
Flask-Mail
flask-cors
Flask-SQLAlchemy
fsspec
google-auth
google-auth-oauthlib
greenlet
idna
ImageIO
itsdangerous
Jinja2
joserfc
lazy-loader
Levenshtein
MarkupSafe
mpmath
networkx
ninja
numpy
oauthlib
opencv-python-headless
openpyxl
packaging
pandas
reportlab
pillow
pyasn1
pyasn1_modules
pyclipper
pycparser
PyJWT
pymongo
PyMySQL
PyPDF2
python-bidi
python-dateutil
python-dotenv
PyYAML
RapidFuzz
requests
requests-oauthlib
scikit-image
scipy
setuptools
shapely
six
soupsieve
SQLAlchemy
sympy
tifffile
torch
torchvision
typing_extensions
tzdata
urllib3
Werkzeug
gunicorn
ultralytics
paddleocr
apscheduler
